### WEEK 12 PRACTICE

In [2]:
import pandas as pd
df=pd.read_csv('customer_data.csv')
df.head()

,Age,Income,Satisfaction_Score,Wait_Time_Minutes,Purchase_Count,Gender,Education_Level
0,56,81832,1,8.66,3,Female,High School
1,69,65486,7,10.87,8,Other,Bachelor
2,46,27209,8,1.00,8,Female,High School
3,32,42736,3,10.56,5,Female,Master
4,60,69003,6,3.74,8,Female,Master

In [3]:
df.groupby('Gender')['Income'].mean()

Gender
Female    48361.500000
Male      50813.025862
Other     49127.947368
Name: Income, dtype: float64

##### Finding male and female salaries as 2 numeric series.

In [6]:
male_salary=df[df['Gender']=='Male']['Income']
female_salary=df[df['Gender']=='Female']['Income']

In [8]:
from scipy.stats import ttest_ind
stat,p= ttest_ind(male_salary,female_salary,equal_var=False)
print(p)

0.07708911413248488

From the above output, its clear that the difference between male salary and female salary is by chance

In [9]:
df=pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
survived=df[df['Survived']==1]['Age'].dropna()
non_survived=df[df['Survived']==0]['Age'].dropna()

In [15]:
from scipy.stats import ttest_ind
stat,p= ttest_ind(survived,non_survived,equal_var=False)
print(p)

0.04118965162586639

From the above, its understandable that average age is significantly different

#### Paired t-test

In [ ]:
before=df['before_score'].dropna()
after=df['after_score'].dropna()

import scipy.stats import ttest_rel
stat,p= ttest_rel(before,after)
print(p)

In [19]:
model_A = [0.82, 0.80, 0.83, 0.85, 0.81, 0.79, 0.84, 0.82, 0.83, 0.81]
model_B = [0.84, 0.85, 0.86, 0.87, 0.83, 0.82, 0.88, 0.86, 0.87, 0.84]

from scipy.stats import ttest_rel
stat,p= ttest_rel(model_A,model_B)
print(p)

4.239738886259881e-06

The above result is in scientific notation coz the answer is too small.

Since it will be lesser than 0.05, we know that the null hypothesis is not true which is Model B works better than model A.

#### CHI-SQUARE TEST FOR INDEPENDENCE

First step- Create Contingency table

In [24]:
pd.crosstab(df['Sex'],df['Survived'])

Survived    0    1
Sex
female     81  233
male      468  109

In [25]:
from scipy.stats import chi2_contingency
table=pd.crosstab(df['Sex'],df['Survived'])
chi2, p, dof, expected= chi2_contingency(table)
print(p)

1.1973570627755645e-58

This tells us that there is a significant relation between Genders and Survival since p-value is lesser than 0.05.

In [27]:
df=pd.read_csv('customer_data.csv')

table=pd.crosstab(df['Gender'],df['Satisfaction_Score'])

from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(table)
print(p)

0.09518025621636061

##### ONE-WAY ANOVA
To learn and understand how One-Way ANOVA works, we are doing a question simply without actually having the dataset. (Only assuming)

In [ ]:
df.groupby('method')['Score'].mean()

grp_A=df[df['method']=='A']['Score'].dropna() #Why do we extract group_A, group_B, group_C separately?
grp_B=df[df['method']=='B']['Score'].dropna() #Ans: Because ANOVA works on separate numerical samples, so we must pass the numerical values of each group individually to the function.
grp_C=df[df['method']=='C']['Score'].dropna()

from scipy.stats import f_oneway
stat,p = f_oneway(grp_A,grp_B,grp_C)
print(p)

From the above p value, if we had recieved a value which is lesser than 0.05 its states that atleast one group mean is different. If not there is no significant difference. However One way ANOVA only tells us there is a difference, inorder to know which group mean has different mean, then we have to do post-hoc tests.

#### üîπ COMMON BEGINNER MISTAKES-ONE-WAY ANOVA (AVOID THESE)

‚ùå Passing categorical data into ANOVA
‚ùå Forgetting .dropna()
‚ùå Using ANOVA for only 2 groups
‚ùå Interpreting ANOVA as ‚Äúwhich group is best‚Äù

#### Assuming we got a value less than 0.05, we are gonna find which group using post hoc test/Tukey's HSD.

In [ ]:
#importing function
from statsmodel.stats.multicomb import pairwise_tukeyhsd

#Run Tukey's Test
tukey=pairwise_tukeyhsd(
    endog=df['Score'],
    groups=df['method'],
    alpha=0.05
)
print(tukey)

#### Question: One-Way ANOVA

Three different teaching methods are being tested to see if they produce different average exam scores among students.

Group A: taught using traditional lectures

Group B: taught using interactive videos

Group C: taught using AI-based personalized learning


Each group has 20 students, and their final exam scores (out of 100) are summarized as follows:

Group	Sample Size (n)	Mean Score (xÃÑ)	Standard Deviation (s)

A	20	72	5

B	20	78	6

C	20	85	7


You need to determine whether there is a statistically significant difference in the mean exam scores among the three teaching methods.

Use a one-way ANOVA test at a 5% significance level (Œ± = 0.05).


---

Tasks:

1. State the null and alternative hypotheses.


2. Compute the ANOVA table (SSB, SSW, MSB, MSW, F).


3. Determine the p-value or compare the computed F with the critical F-value.


4. State your conclusion in context ‚Äî do the teaching methods lead to significantly different mean exam scores?

In [ ]:
A=72
B=78
C=85
from scipy.stats import f_oneway
stat,p=f_oneway(A,B,C)
print(p)