In [2]:
import pandas as pd
df=pd.read_csv('highly_skewed_income_data.csv')
df.head()

          income
0   23463.404499
1  150506.071546
2   65837.284677
3   45647.127689
4    8481.243523

In [3]:
sample1=df.sample(n=5,random_state=42)
sample1

            income
6252  20585.003687
4684  74695.158274
1731  48894.457141
4742   1811.950146
4521  43032.996438

In [8]:
from scipy.stats import norm
import numpy as np

sample=df.sample(n=40,random_state=42)

mean=sample.mean()
std=sample.std()
n=40
se=std/np.sqrt(n)

stat,p=1-norm.cdf(mean,n,se)
p

ValueError: not enough values to unpack (expected 2, got 1)