In [1]:
import pandas as pd

df=pd.read_csv('anova_dataset (1).csv')
df.head()

    Method      Marks
0  Lecture  64.166606
1  Lecture  66.514728
2  Lecture  59.149320
3  Lecture  58.430347
4  Lecture  74.500207

In [2]:
df['Method'].unique()

array(['Lecture', 'Interactive', 'Blended'], dtype=object)

In [3]:
from scipy.stats import f_oneway

grp1= df[df['Method']=='Lecture']['Marks'].dropna()
grp2=df[df['Method']=='Interactive']['Marks'].dropna()
grp3=df[df['Method']=='Blended']['Marks'].dropna()


stats, p= f_oneway(grp1,grp2,grp3)
p

np.float64(5.710862947505145e-06)

In [4]:
df=pd.read_csv('ttest_dataset.csv')
df.head()

    Group      Score
0  Online  79.967142
1  Online  73.617357
2  Online  81.476885
3  Online  90.230299
4  Online  72.658466

In [5]:
df['Group'].unique()

array(['Online', 'Offline'], dtype=object)

In [11]:
from scipy.stats import ttest_ind

grp1=df[df['Group']=='Online']['Score'].dropna()
grp2=df[df['Group']=='Offline']['Score'].dropna()

stats,p= ttest_ind(grp1,grp2)
p

np.float64(0.08617561619553313)

In [12]:
df=pd.read_csv('chi_dataset.csv')
df.head()

   Gender Preference
0  Female        Tea
1  Female     Coffee
2    Male     Coffee
3    Male     Coffee
4  Female     Coffee

In [14]:
from scipy.stats import chi2_contingency

table=pd.crosstab(df['Gender'],df['Preference'])

chi2,p,dof,expected=chi2_contingency(table)
p.round(3)

np.float64(0.53)